@import "src/styles";

.app-search-result-wrapper{
  margin-top: 10vh;
  height: 100%;
}

.app-search-result-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 3vh;
}


/* Medias */
@media  (min-width: $tiny) and (max-width: $small){
  h1 {
    font-size: 15px;
  }

  .app-search-result-container {
    gap: 20px 50px;
  }
}

@media (min-width: $small) and (max-width: $medium) {
  .app-search-result-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 50px;
  }
}

@media (min-width: $medium) and (max-width: $large) {
  .app-search-result-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 50px;
  }
}

@media (min-width: $large) {
  .app-search-result-container{
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 30px;
  }
}
