/* Project Global Styles */
@import "partials/app-utils";
@import "theme/theme";

@font-face {
  font-family: Roboto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #212121;
  color: #999999;
}
