// Main Colors
$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b3b3b3;
$gray-600: #868e96;
$gray-700: #535353;
$gray-800: #343a40;
$gray-900: #212121;
$black:  #121212;

$green: #1DB954;
$lightgreen: #1ED760;
$darkgreen: #1AA34A;
