@import "../theme/theme";

/* Margin */
$spacer: 1rem;

/* Media Variables */
$small-phone: 320px;
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

/* Classes */
.app-container {
  max-width: 90%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-title {
  font-size: 48px;
}

.text-black {
  color: $black;
}

.text-secondary {
  color: $gray-700;
}

.text-primary {
  color: $gray-100;
}

.text-white {
  color: $white;
}

.center-content {
  margin-left: 50%;
  transform: translateX(-50%);
}

.inline-content {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.btn {
  border: 1px solid $gray-900;
  outline: none;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1rem;
  transition: background-color 300ms linear;

  &.btn-rounder {
    border-radius: 15px;
  }

  &.btn-large {
    padding: 16px 14px 18px;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-half-block{
    display: block;
    width: 50%;
  }

  &.primary {
    color: #fff;
    background-color: $green;

    &:hover {
      background-color: $lightgreen;
    }
    &:active {
      background-color: $darkgreen;
    }
  }
}
/* Position */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Flex */
.flex {
  display: flex;
  flex-flow: row nowrap;

  &.f-between {
    justify-content: space-between;
  }

  &.v-center {
    align-items: center;
  }
}

/* Spacing Utils */
.mtop-0 {
  margin-top: 0 !important;
}
.mtop-1 {
  margin-top: ($spacer * .25) !important;
}
.mtop-2 {
  margin-top: ($spacer * .5) !important;
}
.mtop-3 {
  margin-top: ($spacer * 1) !important;
}
.mtop-4 {
  margin-top: ($spacer * 1.5) !important;
}
.mtop-5 {
  margin-top: ($spacer * 3.0) !important;
}

.h-10 {
  height: 10% !important;
}
.h-15 {
  height: 15% !important;
}
.h-20 {
  height: 20% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}

/* Medias */
@media (min-width: $phone) and (max-width: $tablet) {
  .app-container {
    max-width: 90%;
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  .app-container {
    max-width: 85%;
  }
}

@media (min-width: $desktop) {
  .app-container {
    max-width: 80%;
  }
}
