<nav class="flex f-between v-center app-header-container">
  <div>
    <img class="app-header-logo" src="./assets/img/spotify-logo-green-64.png" alt="Logo">
    <span class="app-header-title text-primary">Spotye</span>
  </div>
  <div class="relative">
    <img appDropdown [dropdownMenu]="menu" class="app-header-user-profile-thumbnail pointer" [src]="userImg" alt="Profile">
    <div class="app-header-menu absolute" #menu>
      <button class="pointer" (click)="onLogoutClick()">Log Out</button>
    </div>
  </div>
</nav>
