@import "src/styles";

$margin-left: 40px;

.app-track {
  display: flex;
  justify-content: space-between;
  transition: background-color 400ms ease-out;
  padding: 5px 2px;
  border-radius: 5px;

  &:hover {
    background-color: $gray-900;
  }

  .app-track-title {

    .app-track-index {
      display: none;
      position: absolute;

      &:after {
        content: '.';
      }
    }

    .app-track-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $tiny - $margin-left;
      overflow: hidden;
    }
  }

  .app-track-duration {
    display: none;
  }
}

@media (min-width: $small) and (max-width: $medium){

  .app-track {
    .app-track-title {
      .app-track-index {
        display: block;
      }

      .app-track-name {
        margin-left: $margin-left;
        width: 350px;
      }
    }

    .app-track-duration {
      display: inline-block;
    }
  }
}

@media (min-width: $medium){
  .app-track {
    flex-flow: row nowrap;
    .app-track-title {
      .app-track-index {
        display: block;
      }

      .app-track-name {
        margin-left: $margin-left;
        width: 350px;
      }
    }

    .app-track-duration {
      display: inline-block;
    }
  }
}
