@import "src/styles";

$margin-left: 40px;
$track-title-width-tiny: 260px;
$track-title-width-small: 330px;
$track-title-width-medium: 400px;
$track-title-width-large: 680px;
$transition-duration: 400ms;

.app-track {
  display: flex;
  justify-content: space-between;
  transition: color $transition-duration ease-out;
  border-radius: 5px;
  margin-bottom: 20px;

  .app-track-title {

    .app-track-index {
      position: absolute;

      &:after {
        content: '.';
      }
    }

    .app-track-name {
      margin-left: 40px;
      transition: color $transition-duration ease-out;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: $track-title-width-tiny;
      overflow: hidden;
    }
  }

  .app-track-duration {
    display: none;
  }
}

@media (min-width: $small) and (max-width: $medium){

  .app-track {
    .app-track-title {
      .app-track-index {
        display: block;
      }

      .app-track-name {
        margin-left: $margin-left;
        max-width: $track-title-width-small;
      }
    }

    .app-track-duration {
      display: inline-block;
    }
  }
}

@media (min-width: $medium) and (max-width: $large){
  .app-track {
    flex-flow: row nowrap;
    .app-track-title {
      .app-track-index {
        display: block;
      }

      .app-track-name {
        margin-left: $margin-left;
        max-width: $track-title-width-medium;
      }
    }

    .app-track-duration {
      display: inline-block;
    }
  }
}

@media (min-width: $large){
  .app-track {
    .app-track-title {
      .app-track-name {
        margin-left: $margin-left;
        max-width: $track-title-width-large;
      }
    }
    .app-track-duration {
      display: inline-block;
    }
  }
}

.play {
  color: $green;

  .app-track-title {
    .app-track-name {
      color: $green;
    }
  }
}

@keyframes playing {
  0% { color: $darkgreen; }
  50% { color: $green }
  100% { color: $lightgreen }
}
